html {
    font-size: 2vw;
}
body {
    text-align: center;
    margin:0;
    background: #A8D8DF;

    width: 100vw;
}
header {
    
    display: flex;
    
    justify-content: space-between;
    background: #42aac3;   
}
.logo {
    padding:1%;
    padding-left: 1%;
    font-size: 1.5rem;
    color:black;
    font-family: 'Bangers', cursive;
    border-bottom: 1px solid black;
   
    transform: rotate(-10deg);
}

nav {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}  
ul {
    font-size: 1rem;
    
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
h1 {
    position: relative;
    width: 98vw;
    font-family:  Copperplate, Papyrus, fantasy;

    margin: 0;
    padding:1vw;
    font-weight:bold;
    
    display: block;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    background-color: black;   
}
h1:nth-child(2) {
	position: absolute;
	background-color: #fff;
	color: #000;
	clip-path: inset(-1% -1% 50% -1%);
}
h2 {
    margin-bottom:2%;
    margin-top: 1%;
}
.homeLink::before {
    content:"\2616";
}
main{
    width: 96%;
    margin: 2%;
    gap: 2%;
    display: flex;
    justify-content: space-around;
}
article {
    width: 76%;
    justify-items: center;
}
aside {
    width: 20%;
    background: #cae7e8;
}
section {
    width: 70%;
    margin-bottom: 3%;   
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 10px #209bba;
}
footer {
    padding:1% ;
    background: #42aac3;
}

