@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* basic reset */
*,
*::before,
*::after,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generality */
html {
    font-size: 1.5vw;
}
body {
    text-align: center;
    background: #A8D8DF;
    width: 100%;
}

/* header */
.header-bar {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #42aac3;   
}
.logo {
    font-family: 'Anton', sans-serif;
    padding:0.3% 0.8%;
    font-size: 1.3rem;
    color:powderblue;
    transform: rotate(-10deg);
}

nav {
    width: 50%;
}  
ul {
    text-align: right;
    margin: auto 2%;
}



.text-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* site title */
h1 {
    font-family: 'Anton', sans-serif;
    position: relative;
    width: 100%;
    padding:1vw;
    display: block;
    align-items: center;
    font-size: 2rem;
    color: white;
    background-color: black;   
}
h1:nth-child(2) {
	position: absolute;
	background-color: white;
	color: black;
	clip-path: inset(-1% -1% 50% -1%);
}

/* main */
main{
    width: 84%;
    margin: 3% 8%;
    gap: 10%;
    display: flex;
    justify-content: space-around;
}

/* article */
h2 {
    font-size: 1.5rem;
    margin: 1% 0 2% 0;
}
.h2-home::before, .h2-home::after {
    content: "\2606";
}

article {
    width: 60%;
    justify-items: center;
}

.note-home, .article-section > p, h3 {
margin: 0 2%;
padding: 0.8% 0;
}
h3 {
    font-size: 1.2rem;
    border-bottom: 1px solid #209bba;
}
.article-section {    
    margin-top: 5%;   
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 10px #209bba;
}
.note-home {
    border-top: 1px solid #209bba;
    display:flex;
    justify-content: space-between;
}
.contribution {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.proposition {
    width:100%;
    border: none;
    background: powderblue;
    padding:2%
}
.div-btn-contribution {
    width:96%;
    margin-top: 2%;
    padding: 2% 0;
    border-top: 1px solid #209bba;
}

/* aside */
aside {
    
 
    width: 30%;
    
}
section {
    font-size:1rem;
    margin: 3%;
}
h4 {
    font-size: 1.2rem;
    padding-top: 3%;
}
.aside-section {
    height: 80%;
    max-height: 500px;
    width: 100%;
    margin-top: 10%;
    background: powderblue;
    border-radius: 10% 40% / 40% 10%;
}

/* contact form */
.contact-wrapper {
    width:70%;
    border: 1px solid black;
    border-radius: 20px;
    padding-bottom: 3%;
    margin: 5% auto 0;
}
.form-group {
    width: 90%;
    margin: 3% auto;

}
.form-control {
    margin-top: 0.5%;
    
}
#no {
    margin-left:5%
}


/* footer */
footer {
    padding:1% ;
    /*background: red;*/
    background: #42aac3;   
    font-size:0.8rem
}
